# Project Zeus
## Created by Michael Wentz

### Import Modules

In [1]:
import numpy as np
import pandas as pd

### Load production data from excel file

In [8]:
file = 'https://raw.githubusercontent.com/mwentzWW/petrolpy/master/Zeus/Sample%20Production/Sample_Prod_Data.xlsx'
well_data = pd.read_excel(file)

### Check Data Layout

In [9]:
print(well_data)

          API Number Production Date  OIL_BBL  GAS_MCF  WATER_BBL
0       40 063 05037      1959-05-31   3533.0      0.0        0.0
1       40 063 05037      1959-06-30   4763.0      0.0        0.0
2       40 063 05037      1959-07-31   4475.0   1570.0        0.0
3       40 063 05037      1959-08-31   2620.0    917.0        0.0
4       40 063 05037      1959-09-30   3531.0   1236.0        0.0
5       40 063 05037      1959-10-31   3196.0   1119.0        0.0
6       40 063 05037      1959-11-30   3163.0   1107.0        0.0
7       40 063 05037      1959-12-31   1997.0    700.0        0.0
8       40 063 05037      1960-01-31   2729.0      0.0        0.0
9       40 063 05037      1960-02-29   2680.0      0.0        0.0
10      40 063 05037      1960-03-31   1300.0      0.0        0.0
11      40 063 05037      1960-04-30   2187.0      0.0        0.0
12      40 063 05037      1960-05-31      NaN      NaN        NaN
13      40 063 05037      1960-06-30   2599.0      0.0        0.0
14      40 063 05037      1960-07-31   1686.0      0.0        0.0
15      40 063 05037      1960-08-31   2329.0      0.0        0.0
16      40 063 05037      1960-09-30   1831.0      0.0        0.0
17      40 063 05037      1960-10-31   1835.0      0.0        0.0
18      40 063 05037      1960-11-30   2176.0      0.0        0.0
19      40 063 05037      1960-12-31   1870.0      0.0        0.0
20      40 063 05037      1961-01-31   1690.0      0.0        0.0
21      40 063 05037      1961-02-28   1797.0      0.0        0.0
22      40 063 05037      1961-03-31   1319.0      0.0        0.0
23      40 063 05037      1961-04-30   1768.0      0.0      961.0
24      40 063 05037      1961-05-31   1637.0      0.0      930.0
25      40 063 05037      1961-06-30   1100.0      0.0      632.0
26      40 063 05037      1961-07-31   1629.0      0.0      900.0
27      40 063 05037      1961-08-31   1466.0      0.0      910.0
28      40 063 05037      1961-09-30   1454.0      0.0      890.0
29      40 063 05037      1961-10-31   1116.0      0.0      700.0
..               ...             ...      ...      ...        ...
674  40 063 05037 01      2015-08-31    656.0  22080.0     3381.0
675  40 063 05037 01      2015-09-30    556.0  23009.0     3453.0
676  40 063 05037 01      2015-10-31    583.0  15363.0     3146.0
677  40 063 05037 01      2015-11-30    604.0  14970.0     2227.0
678  40 063 05037 01      2015-12-31    592.0  15933.0     2280.0
679  40 063 05037 01      2016-01-31    538.0  13948.0     1630.0
680  40 063 05037 01      2016-02-29    270.0   7295.0      658.0
681  40 063 05037 01      2016-03-31    122.0   5595.0      339.0
682  40 063 05037 01      2016-04-30    532.0  14092.0     1718.0
683  40 063 05037 01      2016-05-31    316.0  10564.0     1040.0
684  40 063 05037 01      2016-06-30    224.0   8706.0     1048.0
685  40 063 05037 01      2016-07-31    258.0   8467.0     1501.0
686  40 063 05037 01      2016-08-31    321.0  10616.0     1317.0
687  40 063 05037 01      2016-09-30    366.0  12605.0     1655.0
688  40 063 05037 01      2016-10-31    389.0  13877.0     1870.0
689  40 063 05037 01      2016-11-30    439.0   9378.0     2189.0
690  40 063 05037 01      2016-12-31    390.0  11393.0     1516.0
691  40 063 05037 01      2017-01-31    739.0   7596.0     3622.0
692  40 063 05037 01      2017-02-28   1099.0  22620.0     5104.0
693  40 063 05037 01      2017-03-31    809.0  24698.0     5333.0
694  40 063 05037 01      2017-04-30    537.0  16356.0     2794.0
695  40 063 05037 01      2017-05-31    726.0  24802.0     3601.0
696  40 063 05037 01      2017-06-30    684.0  14559.0     3616.0
697  40 063 05037 01      2017-07-31    733.0  13470.0     3771.0
698  40 063 05037 01      2017-08-31    693.0  14300.0     3792.0
699  40 063 05037 01      2017-09-30    682.0   7492.0     1984.0
700  40 063 05037 01      2017-10-31    618.0  13054.0     3608.0
701  40 063 05037 01      2017-11-30    720.0  13567.0     4642.0
702  40 063 05037 01      2017-12-31    608.0  13290.0        NaN
703  40 063 05037 01      2018-01-31    501.0  11915.0     3274.0

[704 rows x 5 columns]

### Delete API because there is only one well

In [10]:
well_data.drop(columns=['API Number'], inplace=True)
print(well_data.head())

  Production Date  OIL_BBL  GAS_MCF  WATER_BBL
0      1959-05-31   3533.0      0.0        0.0
1      1959-06-30   4763.0      0.0        0.0
2      1959-07-31   4475.0   1570.0        0.0
3      1959-08-31   2620.0    917.0        0.0
4      1959-09-30   3531.0   1236.0        0.0