# Project Zeus
## Created by Michael Wentz

### Import Modules

In [32]:
import numpy as np
import pandas as pd
import math
from ipywidgets import interact, interactive, fixed, interact_manual, VBox, FloatSlider
import ipywidgets as widgets

### Load production data from excel file

In [33]:
file = 'https://raw.githubusercontent.com/mwentzWW/petrolpy/master/Zeus/Sample_Production/Sample_Prod_Data.xlsx'
well_data = pd.read_excel(file)
well_data.columns = [c.lower() for c in well_data.columns]
well_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 5 columns):
api number         704 non-null object
production date    704 non-null datetime64[ns]
oil_bbl            694 non-null float64
gas_mcf            694 non-null float64
water_bbl          693 non-null float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 27.6+ KB

### Check Data Layout

In [34]:
well_data.head()

     api number production date  oil_bbl  gas_mcf  water_bbl
0  40 063 05037      1959-05-31   3533.0      0.0        0.0
1  40 063 05037      1959-06-30   4763.0      0.0        0.0
2  40 063 05037      1959-07-31   4475.0   1570.0        0.0
3  40 063 05037      1959-08-31   2620.0    917.0        0.0
4  40 063 05037      1959-09-30   3531.0   1236.0        0.0

### Delete API because there is only one well, and we don't need water

In [35]:
well_data.drop(columns=['api number', 'water_bbl'], inplace=True)
well_data.head()

  production date  oil_bbl  gas_mcf
0      1959-05-31   3533.0      0.0
1      1959-06-30   4763.0      0.0
2      1959-07-31   4475.0   1570.0
3      1959-08-31   2620.0    917.0
4      1959-09-30   3531.0   1236.0

### Replace NaN with zeros for computations

In [36]:
well_data.fillna(value=0, inplace=True)

### Calculate effective decline rate for oil and gas

In [37]:
well_data.oil_bbl = well_data.oil_bbl/30
well_data.gas_mcf = well_data.gas_mcf/30

qi_oil = well_data.oil_bbl[0:30].max()
qi_gas = well_data.gas_mcf[0:30].max()

In [38]:
well_data['eff_decline_oil'] = -(well_data.oil_bbl - qi_oil)/qi_oil
well_data['eff_decline_gas'] = -(well_data.gas_mcf - qi_gas)/qi_gas

In [39]:
well_data.head()

  production date     oil_bbl    gas_mcf  eff_decline_oil  eff_decline_gas
0      1959-05-31  117.766667   0.000000         0.258241         1.000000
1      1959-06-30  158.766667   0.000000        -0.000000         1.000000
2      1959-07-31  149.166667  52.333333         0.060466        -0.000000
3      1959-08-31   87.333333  30.566667         0.449927         0.415924
4      1959-09-30  117.700000  41.200000         0.258661         0.212739

### Normalize data by time

In [58]:
num_days_online = len(well_data['oil_bbl'])
num_days_online

704

In [59]:
days = []
for day in range(0, num_days_online):
    days.append(day)
days[0:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
well_data['time'] = days
well_data.head()

,production date,oil_bbl,gas_mcf,eff_decline_oil,eff_decline_gas,time,type_curve_oil
0,1959-05-31 00:00:00,117.766667,0.000000,0.258241,1.000000,0,158.766667
1,1959-06-30 00:00:00,158.766667,0.000000,-0.000000,1.000000,1,137.385974
2,1959-07-31 00:00:00,149.166667,52.333333,0.060466,-0.000000,2,120.050410
3,1959-08-31 00:00:00,87.333333,30.566667,0.449927,0.415924,3,105.800361
4,1959-09-30 00:00:00,117.700000,41.200000,0.258661,0.212739,4,93.944773

### Calculate the type curve for oil and gas, assume b = 0.5 (will adjust later), use first 30 day average decline for di

In [61]:
well_data.fillna(value=0, inplace=True)
well_data.loc[well_data.eff_decline_oil > 10000] = 0
well_data.loc[well_data.eff_decline_gas > 10000] = 0
well_data.time.astype(float)

0        0.0
1        1.0
2        2.0
3        3.0
4        4.0
5        5.0
6        6.0
7        7.0
8        8.0
9        9.0
10      10.0
11      11.0
12      12.0
13      13.0
14      14.0
15      15.0
16      16.0
17      17.0
18      18.0
19      19.0
20      20.0
21      21.0
22      22.0
23      23.0
24      24.0
25      25.0
26      26.0
27      27.0
28      28.0
29      29.0
       ...
674    674.0
675    675.0
676    676.0
677    677.0
678    678.0
679    679.0
680    680.0
681    681.0
682    682.0
683    683.0
684    684.0
685    685.0
686    686.0
687    687.0
688    688.0
689    689.0
690    690.0
691    691.0
692    692.0
693    693.0
694    694.0
695    695.0
696    696.0
697    697.0
698    698.0
699    699.0
700    700.0
701    701.0
702    702.0
703    703.0
Name: time, Length: 704, dtype: float64

In [62]:
print(well_data.head())

       production date     oil_bbl    gas_mcf  eff_decline_oil  \
0  1959-05-31 00:00:00  117.766667   0.000000         0.258241
1  1959-06-30 00:00:00  158.766667   0.000000        -0.000000
2  1959-07-31 00:00:00  149.166667  52.333333         0.060466
3  1959-08-31 00:00:00   87.333333  30.566667         0.449927
4  1959-09-30 00:00:00  117.700000  41.200000         0.258661

   eff_decline_gas  time  type_curve_oil
0         1.000000     0      158.766667
1         1.000000     1      137.385974
2        -0.000000     2      120.050410
3         0.415924     3      105.800361
4         0.212739     4       93.944773

In [63]:
print(well_data.loc[[3], ('gas_mcf')])

3    30.566667
Name: gas_mcf, dtype: float64

In [70]:
def plot_oil(b_value=0.5, initial_decline_rate=0.15, start_of_exp=well_data.time.max(), exp_yes_no=False):
    well_data['type_curve_oil'] = qi_oil*((1 + b_value*initial_decline_rate*well_data.time)**(-1/b_value))
    if exp_yes_no == True:
        start_of_exp = int(start_of_exp)
        well_data['type_curve_expon'] = well_data.loc[start_of_exp, ('type_curve_oil')]*2.71828**(-initial_decline_rate*(well_data.time-start_of_exp))
        well_data.loc[start_of_exp:, ('type_curve_oil')] = 0
        well_data.loc[0:start_of_exp-1, ('type_curve_expon')] = 0
        connector = well_data.loc[start_of_exp, ('type_curve_expon')]
        well_data.type_curve_oil = well_data.type_curve_oil + well_data.type_curve_expon
        well_data.type_curve_expon.astype('float')
    well_data.type_curve_oil.astype('float')
    well_data.fillna(value=0, inplace=True)
    well_data.loc[well_data.type_curve_oil > qi_oil] = qi_oil

    fig, axes = plt.subplots( figsize=(12, 6))

    axes.plot(well_data.time, well_data.type_curve_oil, 'k--', lw =2, label='Type Curve')
    axes.plot(well_data.time, well_data.oil_bbl, 'r', label='Historical Production')
    if exp_yes_no == True:    
        axes.plot(start_of_exp, connector, 'bx', label='Exponential Decline')
    axes.legend(loc=1);
    axes.grid(True)
    axes.set_xlabel('Time (Months)')
    axes.set_ylabel('Oil Rate (BPD)')
    axes.set_title('Oil Type Curve');

def plot_gas(b_value=0.5, initial_decline_rate=0.15):
    well_data['type_curve_gas'] = qi_gas*((1 + b_value*initial_decline_rate*well_data.time)**(-1/b_value))
    well_data.type_curve_gas.astype('int')
    well_data.fillna(value=0, inplace=True)
    well_data.loc[well_data.type_curve_gas > qi_gas] = qi_gas
    
    fig, axes = plt.subplots(figsize=(12, 6))

    axes.plot(well_data.time, well_data.type_curve_gas, 'k--', lw=2, label='Type Curve')
    axes.plot(well_data.time, well_data.gas_mcf, 'g', label='Historical Production')
    axes.legend(loc=1);
    axes.grid(True)
    axes.set_xlabel('Time (Months)')
    axes.set_ylabel('Gas Rate (MCFD)')
    axes.set_title('Oil Type Curve');

### Plot production with type curves

In [71]:
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [72]:
interact_oil = interact(plot_oil, b_value= (0, 1, 0.01), initial_decline_rate= (0, 1, 0.01), start_of_exp= (1, well_data.time.max(), 1), exp_yes_no = False)

interactive(children=(FloatSlider(value=0.5, description='b_value', max=1.0, step=0.01), FloatSlider(value=0.1…

In [49]:
well_data

,production date,oil_bbl,gas_mcf,eff_decline_oil,eff_decline_gas,time,type_curve_oil
0,1959-05-31 00:00:00,117.766667,0.000000,0.258241,1.000000,0.0,158.766667
1,1959-06-30 00:00:00,158.766667,0.000000,-0.000000,1.000000,1.0,137.385974
2,1959-07-31 00:00:00,149.166667,52.333333,0.060466,-0.000000,2.0,120.050410
3,1959-08-31 00:00:00,87.333333,30.566667,0.449927,0.415924,3.0,105.800361
4,1959-09-30 00:00:00,117.700000,41.200000,0.258661,0.212739,4.0,93.944773
5,1959-10-31 00:00:00,106.533333,37.300000,0.328994,0.287261,5.0,83.975758
6,1959-11-30 00:00:00,105.433333,36.900000,0.335923,0.294904,6.0,75.513278
7,1959-12-31 00:00:00,66.566667,23.333333,0.580726,0.554140,7.0,68.268387
8,1960-01-31 00:00:00,90.966667,0.000000,0.427042,1.000000,8.0,62.018229
9,1960-02-29 00:00:00,89.333333,0.000000,0.437329,1.000000,9.0,56.588698
10,1960-03-31 00:00:00,43.333333,0.000000,0.727063,1.000000,10.0,51.842177
11,1960-04-30 00:00:00,72.900000,0.000000,0.540836,1.000000,11.0,47.668731
12,1960-05-31 00:00:00,0.000000,0.000000,1.000000,1.000000,12.0,43.979686
13,1960-06-30 00:00:00,86.633333,0.000000,0.454336,1.000000,13.0,40.702879
14,1960-07-31 00:00:00,56.200000,0.000000,0.646021,1.000000,14.0,37.779100
15,1960-08-31 00:00:00,77.633333,0.000000,0.511022,1.000000,15.0,35.159400
16,1960-09-30 00:00:00,61.033333,0.000000,0.615578,1.000000,16.0,32.803030
17,1960-10-31 00:00:00,61.166667,0.000000,0.614739,1.000000,17.0,30.675844
18,1960-11-30 00:00:00,72.533333,0.000000,0.543145,1.000000,18.0,28.749057
19,1960-12-31 00:00:00,62.333333,0.000000,0.607390,1.000000,19.0,26.998264
20,1961-01-31 00:00:00,56.333333,0.000000,0.645182,1.000000,20.0,25.402667
21,1961-02-28 00:00:00,59.900000,0.000000,0.622717,1.000000,21.0,23.944450
22,1961-03-31 00:00:00,43.966667,0.000000,0.723074,1.000000,22.0,22.608283
23,1961-04-30 00:00:00,58.933333,0.000000,0.628805,1.000000,23.0,21.380916
24,1961-05-31 00:00:00,54.566667,0.000000,0.656309,1.000000,24.0,20.250850
25,1961-06-30 00:00:00,36.666667,0.000000,0.769053,1.000000,25.0,19.208066
26,1961-07-31 00:00:00,54.300000,0.000000,0.657989,1.000000,26.0,18.243800
27,1961-08-31 00:00:00,48.866667,0.000000,0.692211,1.000000,27.0,17.350363
28,1961-09-30 00:00:00,48.466667,0.000000,0.694730,1.000000,28.0,16.520985
29,1961-10-31 00:00:00,37.200000,0.000000,0.765694,1.000000,29.0,15.749685
...,...,...,...,...,...,...,...
674,2015-08-31 00:00:00,21.866667,736.000000,0.862272,-13.063694,674.0,0.059745
675,2015-09-30 00:00:00,18.533333,766.966667,0.883267,-13.655414,675.0,0.059572
676,2015-10-31 00:00:00,19.433333,512.100000,0.877598,-8.785350,676.0,0.059399
677,2015-11-30 00:00:00,20.133333,499.000000,0.873189,-8.535032,677.0,0.059227
678,2015-12-31 00:00:00,19.733333,531.100000,0.875709,-9.148408,678.0,0.059056
679,2016-01-31 00:00:00,17.933333,464.933333,0.887046,-7.884076,679.0,0.058885
680,2016-02-29 00:00:00,9.000000,243.166667,0.943313,-3.646497,680.0,0.058715
681,2016-03-31 00:00:00,4.066667,186.500000,0.974386,-2.563694,681.0,0.058546
682,2016-04-30 00:00:00,17.733333,469.733333,0.888306,-7.975796,682.0,0.058378
683,2016-05-31 00:00:00,10.533333,352.133333,0.933655,-5.728662,683.0,0.058211
684,2016-06-30 00:00:00,7.466667,290.200000,0.952971,-4.545223,684.0,0.058044
685,2016-07-31 00:00:00,8.600000,282.233333,0.945832,-4.392994,685.0,0.057878
686,2016-08-31 00:00:00,10.700000,353.866667,0.932606,-5.761783,686.0,0.057712
687,2016-09-30 00:00:00,12.200000,420.166667,0.923158,-7.028662,687.0,0.057548
688,2016-10-31 00:00:00,12.966667,462.566667,0.918329,-7.838854,688.0,0.057384
689,2016-11-30 00:00:00,14.633333,312.600000,0.907831,-4.973248,689.0,0.057220
690,2016-12-31 00:00:00,13.000000,379.766667,0.918119,-6.256688,690.0,0.057058
691,2017-01-31 00:00:00,24.633333,253.200000,0.844846,-3.838217,691.0,0.056896
692,2017-02-28 00:00:00,36.633333,754.000000,0.769263,-13.407643,692.0,0.056735
693,2017-03-31 00:00:00,26.966667,823.266667,0.830149,-14.731210,693.0,0.056574
694,2017-04-30 00:00:00,17.900000,545.200000,0.887256,-9.417834,694.0,0.056414
695,2017-05-31 00:00:00,24.200000,826.733333,0.847575,-14.797452,695.0,0.056255
696,2017-06-30 00:00:00,22.800000,485.300000,0.856393,-8.273248,696.0,0.056097
697,2017-07-31 00:00:00,24.433333,449.000000,0.846105,-7.579618,697.0,0.055939
698,2017-08-31 00:00:00,23.100000,476.666667,0.854503,-8.108280,698.0,0.055782
699,2017-09-30 00:00:00,22.733333,249.733333,0.856813,-3.771975,699.0,0.055625
700,2017-10-31 00:00:00,20.600000,435.133333,0.870250,-7.314650,700.0,0.055469
701,2017-11-30 00:00:00,24.000000,452.233333,0.848835,-7.641401,701.0,0.055314
702,2017-12-31 00:00:00,20.266667,443.000000,0.872349,-7.464968,702.0,0.055159
703,2018-01-31 00:00:00,16.700000,397.166667,0.894814,-6.589172,703.0,0.055006

## To-do

* add multiline segment functionality
* add optimized solution by minimizing the error